<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能管理</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <script language="JavaScript" src="../static/js/jquery-3.2.0.min.js"></script>
    <script language="JavaScript" src="../static/js/bootstrap.min.js"></script>
    <script language="JavaScript" src="../static/js/table-manipulate.js"></script>
    <script language="JavaScript" src="../static/js/modal-control.js"></script>
</head>
<body>
<div class="container-fluid" id="functionManagementPage">
    <div class="row"><!--顶部搜索栏-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">功能管理</h1>
            </div>
            <div class="panel-body" name="search-bar">
                <!--按字段搜索-->
                <form class="form-inline pull-left"  id="functionManagementSearchBoard"></form>
                <div class="pull-right" style="margin-right: 20px">
                    <!---添加功能按钮-->
                    <span class="btn btn-success btn-xs glyphicon glyphicon-plus" id="functionManagementPlusBtn">添加功能</span>
                </div>
                <div class="pull-right" style="margin-right: 20px">
                    <!---添加按钮-->
                    <span class="btn btn-success btn-xs glyphicon glyphicon-plus-sign" id="functionManagementNewBtn">新建功能组</span>
                </div>
            </div>
        </div>
	</div> <!--顶部搜索栏-->

    <div class="row" id="functionManagementAlert"></div>

	<div class="row"><!--中间数据表-->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="panel-title">  </h2>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead id="functionManagement-table-header"></thead>
                            <tbody id="functionManagement-table-body"></tbody>
                        </table>
                </div>
            </div>
        </div>
	</div><!--中间数据表-->
    
</div>
</body>

<script>
    var pageName = "functionManagement";
    var Search_List;
    var New_List;
    var Plus_List;
    var Edit_List;
    var Trash_List;


    $(document).ready(function(){
        //ajax请求用户列表，（json)
        $.ajax({
            url:"/" + pageName + "/tableList/",
            type:'POST',
            data: '',
            datatype :'json', //
            success: function(data){
                obj = jQuery.parseJSON(data); //字符串转为json格式
                if(obj.hasOwnProperty('alertType'))
                    alertMsg(pageName,obj.alertType,obj.alertMsg);
                if(obj.succeed == true){
                    //收到列表消息，进行列表更新
                    //表头
                    var head_list = obj.table_schema_list;
                    addTableHeader(head_list,pageName + "-table-header");

                    //表体
                    var data_list = obj.table_data;
                    addTableBody(data_list, head_list, pageName + "-table-body","functionId");

                    //定义模态框
                    newModal(pageName,"New");
                    newModal(pageName,"Plus");
                    newModal(pageName,"Edit");
                    newModal(pageName,"Trash");

                    //搜索栏
                    Search_List = addSearchBoard(obj, pageName);
                    addSelectDict("search_form", obj.select_dict["searchType"], obj);

                    //新建功能组面板
                    New_List = addBoardContent(head_list, "newType", pageName, "New");
                    addSelectDict(pageName + "New", obj.select_dict["newType"], obj);

                    //添加功能面板
                    Plus_List = addBoardContent(head_list, "plusType", pageName, "Plus");
                    addSelectDict(pageName + "Plus", obj.select_dict["plusType"], obj);

                    //修改功能面板
                    Edit_List = addBoardContent(head_list, "editType", pageName, "Edit");
                    addSelectDict(pageName + "Edit", obj.select_dict["editType"], obj);

                    //删除功能面板
                    Trash_List = addBoardContent(head_list, "trashType", pageName, "Trash");

                    //绑定模态框
                    bindGlyohicon_plus(pageName,Plus_List,"添加功能");
                    bindGlyohicon_new(pageName, New_List, "新建功能组", "plus-sign");
                    bindGlyphicon_edit(pageName,Edit_List,"修改功能");
                    bindGlyohicon_trash(pageName, Trash_List, "功能/组删除（功能未定义时删除组）");

                    //搜索功能请求发送
                    $("#" + pageName + "SearchBoard button").click(function(){
                        var request_data = getModalInput(Search_List,"search_form");
                        alert(request_data);
                        //ajax发送请求
                        $.ajax({
                            url:"/" + pageName + "/tableList/",
                            type:'POST',
                            data: request_data,
                            datatype :'json', //是预期服务器返回的数据格式=。=
                            success: function(data){
                                obj = jQuery.parseJSON(data); //字符串转为json格式

                                if(obj.hasOwnProperty('alertType'))
                                    alertMsg(pageName,obj.alertType,obj.alertMsg);
                                if(obj.succeed == true){
                                    //删掉table-content里的内容
                                    deleteTableContent(pageName + "-table-body");

                                    //收到列表消息，进行列表更新
                                    //表头
                                    var head_list = obj.table_schema_list;
                                    var data_list = obj.table_data;
                                    addTableBody(data_list, head_list, pageName + "-table-body","functionId");
                                    bindGlyphicon_edit(pageName,Edit_List,"修改功能");
                                    bindGlyohicon_trash(pageName,Trash_List,"用户删除");
                                }
                            }
                        })
                    });

                    bindModalConfirmButton(pageName,"New","new",New_List);
                    bindModalConfirmButton(pageName,"Plus","plus",Plus_List);
                    bindModalConfirmButton(pageName,"Edit","edit",Edit_List);
                    bindModalConfirmButton(pageName,"Trash","delete", Trash_List);
                }
            }
        });

    });


</script>

</html>