<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>商业短信分析系统</title>

        <!-- Bootstrap core CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../static/css/dashboard.css" rel="stylesheet">
                    <script language="JavaScript" src="../static/js/jquery-3.2.0.min.js"></script>
        <script language="JavaScript" src="../static/js/bootstrap.min.js"></script>
        <script language="JavaScript" src="../static/js/js.cookie.js"></script>
        <script language="JavaScript" src="../static/js/jquery.cookie.js"></script>
        <script language="JavaScript" src="../static/js/homePage-sideBar.js"></script>
    </head>

    <body style="background-color: #66afe9">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header col-sm-3 col-md-2">
                    <a class="navbar-brand" href="#"><strong>商业短信分析系统</strong></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="nav-sign-out"><a href="#">Sign out</a></li>
                        <li id="nav-help"><a href="#">Help</a></li>
                        <!--<li id="nav-sign-in"><a href="#">Sign in</a></li>
                        <li id="nav-sign-up"><a href="#">Sign up</a></li>-->
                    </ul>

                    <ul class="nav navbar-nav nav-tabs navbar-left" role="tablist" id="function_tab_list">
                    <!--tabs-->
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <div class="panel-group nav nav-sidebar" id="section-list">
                    </div>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                    <!--标签页内容-->
                    <div class="tab-content" style="color: white" id="tab-content">
                    </div>
                </div>
            </div>
        </div>

        <footer class="modal-footer" style="position:fixed;width:100%;right:0px;bottom: 0px;color: white;z-index:1;background-color: #66afe9">
            <p class="col-xs-offset-1 pull-right">
                <a href="#"><strong>Back To Top</strong></a>
            </p>
            <p class="pull-right"><strong>© 2018.1 BUPT</strong></p>
        </footer>
    </body>
</html>

<script>
    var functionArray = new Array();
    var sectionArray = new Array();
    var activeFunctionArray = new Array();

    $(document).ready(function() {
        //请求功能列表
        $.ajax({
            url: "/FunctionBoard/",
            type: 'GET',
            data: '',
            datatype: 'json', //是预期服务器返回的数据格式=。=
            success: function (data) {
                auth_obj = jQuery.parseJSON(data); //字符串转为json格式
                if(auth_obj.successed == false)
                    alert("会话已过期或者非法登入");
                else {
                    var obj_functionlist = auth_obj.functionlist;
                    for( var obj in obj_functionlist){

                        var function_name = obj_functionlist[obj].functionName;
                        var section_name = obj_functionlist[obj].sectionName;
                        var section_id = obj_functionlist[obj].sectionId;
                        var function_src = obj_functionlist[obj].functionSrc;

                        if($.inArray(section_id, sectionArray) === -1){
                            sectionArray.push(section_id);
                            addSection(section_id, section_name);
                        } //功能组已存在
                        if($.inArray(function_name, functionArray) === -1){
                            functionArray.push(function_name);
                            addFuction(section_id,function_name,function_src);
                        }
                    }

                    //绑定点击事件 --具体功能
                    for( var i in sectionArray){
                        $("#section" + sectionArray[i].toString() + "List a").click(function () {
                            $("div.list-group a.active").removeClass("active");
                            $(this).addClass("active");

                            var function_src = $(this).attr("src");
                            if($.inArray(function_src,activeFunctionArray) != -1)
                                return;
                            activeFunctionArray.push(function_src);
                            addFuctionTab($(this).text(), function_src);

                            $("i.glyphicon-remove-circle").click(function () {
                                //标签关闭：
                                //标签栏减少
                                var func_src = $(this).attr("function_src");
                                var to_remove_tab = document.getElementById(func_src + "_tab_li");
                                document.getElementById("function_tab_list").removeChild(to_remove_tab);

                                //标签页取消
                                var to_remove_page = document.getElementById(func_src);
                                document.getElementById("tab-content").removeChild(to_remove_page);

                                activeFunctionArray.splice($.inArray(func_src,activeFunctionArray),1);
                            });
                            //alert($(this).text());
                        });
                    }

                    //点击事件--功能组
                    $("#section-list div div h4 a.list-group-item").click(function(){
                        $("#section-list div div h4 a.list-group-item.active").removeClass("active");
                        $(this).addClass("active");
                    });
                }
            }
        })
    });

</script>